{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block css %}{% endblock %}
{% block content %}
  <img src="{{ review.image.url }}" alt="{{ review.image }}">
  <h1>유저이름:
    {{ review.user }}</h1>
  <h3>리뷰내용:
    {{ review.content }}</h3>
  <h3>평점:
    {{ review.grade }}</h3>
  <a href="{% url 'reviews:update' review.pk %}">수정</a>
  <a href="{% url 'reviews:delete' review.pk %}">삭제</a>
  <h4 class="my-3">댓글</h4>
  {% if request.user in comment.content.all %}
    <span>{{ comment.content.count }}</span>
  {% endif %}
  {% if request.user.is_authenticated %}

    <form action="{% url 'reviews:comment_create' review.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form layout='inline'%}
      {% bootstrap_button button_type="submit" content="OK"%}
    </form>
    <hr>
    {% for comment in comments %}
      <p>
        {{ comment.user.username }}
      </p>
      <p>{{ comment.content }}

        <a href="{% url 'reviews:comment_delete' comment.review.pk comment.pk %}">댓글 삭제</a>
      </p>

      <hr>
      {% empty %}
      <p>댓글이 없어요 ㅠ_ㅠ</p>
    {% endfor %}
  {% else %}
  {% endif %}
{% endblock content %}
{% bootstrap_javascript %}