{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% for review in reviews %}
    <h1>식당이름:
      {{ review.restaurant.name }}</h1>
    <a href="{% url 'reviews:detail' review.pk %}">
      {{ review.content }}
    </a>
    <h2>
      {{ review.user }}</h2>
  {% endfor %}
  <a href="{% url 'reviews:create' %}">
    리뷰작성
  </a>
{% endblock content %}



<div class="background-size d-flex flex-column align-items-center justify-content-center">
  <div class="d-flex flex-column bg-white border border-2 border border-opacity-75 border-start-0 border-end-0 rounded-4 border-secondary shadow-lg">
    <h1 class="text-center mt-5 mb-3 fw-bold text-space">회원가입</h1>
    <form action="" method="POST" class="p-5 border-dark" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="text-end">
        {% bootstrap_button button_type="submit" content="가입완료" button_class="btn btn-primary" %}
      </div>
    </form>
  </div>
</div>