{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% block content %}
  <div class="background-size d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex flex-column bg-white border border-2 border-opacity-75 border-start-0 border-end-0 rounded-4 border-secondary shadow-lg" style="width: 28rem;">
      <div class="text-center">
        <h1 class="text-center mt-5 mb-3 fw-bold text-space">리뷰작성!</h1>
        <p>바르고 고운말 사용!</p>
        <form action="" method="POST" class="p-5 border-dark" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form review_form %}
          <div class="text-end">
            {% bootstrap_button button_type="submit" content="작성" button_class="btn-info" %}
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
{% bootstrap_javascript %}
