{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% block content %}
  
  <div class="container mt-3">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="card text-center" style="width: 20rem;">
                <h3>리뷰수정!</h3>
                <p style="font-size:6px;">바르고 고운말 사용!</p>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form review_form %}
                    {% bootstrap_button button_type="submit" content="수정" button_class="btn-outline-info"%}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% bootstrap_javascript %}