{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="background-size d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex flex-column bg-white border border-2 border border-opacity-75 border-start-0 border-end-0 rounded-4 border-secondary shadow-lg" style="width: 30rem;">
      <h1 class="text-center mt-5 mb-3 fw-bold text-space">식당 정보변경</h1>
      <form action="" method="POST" class="p-5 border-dark" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-end">
          {% bootstrap_button content="변경완료" button_type="submit" button_class="btn-primary" %}
        </div>
      </form>
    </div>
  </div>

{% endblock content %}
