{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

  <!-- 프로필 이미지 -->
  <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column jusitfy-content-center align-items-center py-3 shadow-lg rounded-5">
      {% if user.profileimg %}
        <img src="{{ user.profileimg.url }}" alt="{{ user.profileimg }}" width="200" height="200" class="rounded-circle my-3">
      {% else %}
        <img src="https://img1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/7r5X/image/9djEiPBPMLu_IvCYyvRPwmZkM1g.jpg" alt="none" width="150" height="150" class="rounded-circle my-3">
      {% endif %}
      <div class="d-flex flex-column justify-content-center profile-size">
        <div class="mt-3 d-md-flex justify-content-center align-items-center">
          <h1 class="mb-0 text-center text-space">{{ user.username }}</h1>
          <!-- 본인 프로필일때만 '프로필수정' 버튼 보이게 -->
          {% if request.user == user %}
            <div class="text-center px-3 py-0 my-3">
              <a href="{% url 'accounts:update' %}" class="btn btn-primary rounded-pill px-3">프로필수정</a>
            </div>
          {% endif %}
          {% if request.user != user %}
            <div class="m-3 text-center">
              <form id="follow-form" data-user-id="{{ user.pk }}">
                {% csrf_token %}
                {% if request.user in user.followers.all %}
                  <input type="submit" class="btn btn-danger" value="팔로우 취소">
                {% else %}
                  <input type="submit" class="btn btn-primary" value="팔로우">
                {% endif %}
              </form>
            </div>
          {% endif %}
        </div>
        <div class="d-flex align-items-center justify-content-center">
          {% if user.last_name == '' %}
            <p></p>
          {% else %}
            <p class="mb-0 text-center py-2 border border-2 border-dark w-75 rounded-pill">{{ user.last_name }}</p>
          {% endif %}
        </div>
        <!-- 팔로우 기능 -->
        <!-- 팔로워/팔로잉 숫자 -->
        <div class="d-flex p-3 justify-content-center">
          <div class="px-1 text-center fw-bold follow-font">
            <span class="">팔로우</span>
            <br>
            <span id="followers-count">{{ user.followers.count }}</span>
          </div>
          <div class="vr mx-3"></div>
          <div class="px-1 text-center fw-bold follow-font">
            <span class="">팔로잉</span>
            <br>
            <span id="followings-count">{{ user.followings.count }}</span>
          </div>
          <div class="vr mx-3"></div>
          <div class="px-1 text-center fw-bold follow-font">
            리뷰 개수
            <br>
            <span id="followings-count">{{ review.count }}</span>
          </div>
        </div>
        <!-- 팔로우/팔로우취소 버튼 -->
      </div>
      <div class="d-flex flex-column">
        <a class="text-decoration-none text-black button-toggle" id="openCloseDiv">
          <i class="bi bi-chevron-down text-danger opacity-25 fs-2"></i>
        </a>
      </div>
    </div>
    <div class="mt-5" id="noneDiv" style="display: none;">
      <div class="container background-size shadow-lg collapseProfile" style="overflow: auto;">
        <div class="pt-5 d-flex justify-content-around text-center container">
          <div class="mx-2 fw-bolder text-secondary">
            <a type="button" id="myReview" class="text-decoration-none text-black">내가 쓴 리뷰</a>
          </div>
          <div class="mx-2 fw-bolder text-secondary">
            <a type="button" id="mylikeList" class="text-decoration-none text-black">내가 찜한 음식점</a>
          </div>
        </div>
        <hr>
        <div id="myReviewResult" class="container text-center" style="display: none;">
          <div class="text-center d-flex justify-content-center flex-wrap" style="">
            {% for rev in review %}
              <div class="d-flex flex-column flex-wrap m-2 rounded-3" style="border: 2px solid #e8e4ddb1; box-shadow: 3px 4px 5px rgba(134, 123, 123, 0.665); background-color: #e8e4ddb1;">
                <img src="{{ rev.image.url }}" alt="" style="border-radius: .4rem; width: 300px;">
                <div class="card-footer py-3">{{ rev.content }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div id="mylikeListResult" class="container" style="display: none;">
          <div class="text-center align-middle container" style="width: 100%;">
            <div id="map" style="width:100%; height:900px;" class="rounded-4 shadow-lg"></div>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}

  {% block script %}
    <!-- '/maps.js?ncpClientId=' 이부분에 naver api id 값 넣어주기" -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7apalzu8wx"></script>

    <script>
      const like_restaurant = "{{ like_restaurant }}";
      const areaPoint = "{{ like_restaurant }}".replace(/&#x27;/g, "\"");
      const point = JSON.parse(areaPoint)
      console.log(point)
      var mapOptions = {
        center: new naver
          .maps
          .LatLng(36.3504119, 127.3845475),
        zoom: 7
      };

      var map = new naver
        .maps
        .Map('map', mapOptions);

      for (let area of point) {

        var lat = area.address[0]
        var lng = area.address[1]

        // 마커 생성
        var marker = new naver
          .maps
          .Marker({
            position: new naver
              .maps
              .LatLng(lat, lng),
            icon: {
              url: '{% static ' images / marker.png ' %}', //50, 68 크기의 원본 이미지
              size: new naver
                .maps
                .Size(50, 60),
              scaledSize: new naver
                .maps
                .Size(30, 40),
              origin: new naver
                .maps
                .Point(0, 0),
              anchor: new naver
                .maps
                .Point(12, 34)
            },
            map: map
          });
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const form = document.querySelector('#follow-form')
      const csrftoken = document
        .querySelector('[name=csrfmiddlewaretoken]')
        .value

        form
        .addEventListener('submit', function (event) {
          event.preventDefault()
          const userId = event
            .target
            .dataset
            .userId

            axios({
              method: 'post',
              url: `/accounts/${userId}/follow/`,
              headers: {
                'X-CSRFToken': csrftoken
              }
            })
            .then((response) => {
              const isFollowed = response.data.is_followed
              const followBtn = document.querySelector('#follow-form > input[type=submit]')
              if (isFollowed === true) {
                followBtn.value = '팔로우 취소'
                followBtn
                  .classList
                  .add('btn-danger')
                followBtn
                  .classList
                  .remove('btn-primary')
              } else {
                followBtn.value = '팔로우'
                followBtn
                  .classList
                  .add('btn-primary')
                followBtn
                  .classList
                  .remove('btn-danger')
              }
              const followersCountTag = document.querySelector('#followers-count')
              const followingsCountTag = document.querySelector('#followings-count')
              const followersCount = response.data.followers_count
              const followingsCount = response.data.followings_count
              followersCountTag.innerText = followersCount
              followingsCountTag.innerText = followingsCount
            })
            .catch((error) => {
              console.log(error.response)
            })
          });
    </script>
    <script>
      $('#openCloseDiv').click(function () {

        if ($('#noneDiv').css("display") == "none") {

          $(".button-toggle").click(function (event) {
            x = $(this).attr("href");
            $("html, body")
              .stop()
              .animate({
                scrollTop: $(x)
                  .offset()
                  .top = 10
              }, 1000, "easeInOutExpo");
          });

          $('#noneDiv').show();

        } else {
          $('#noneDiv').hide();
        }
      });
    </script>

    <script>
      $('#myReview').click(function () {
        if (($('#myReviewResult').css("display") === "none") && ($('#mylikeListResult').css("display") !== "none")) {
          $('#mylikeListResult').hide();
          $('#myReviewResult').show();
        } else {
          if ($('#myReviewResult').css("display") !== "none") {
            $('#myReviewResult').hide();
          } else {
            $('#myReviewResult').show();
          }
        }
      });

      $('#mylikeList').click(function () {
        if (($('#mylikeListResult').css("display") === "none") && ($('#mylikelistResult').css("display") !== "none")) {
          $('#myReviewResult').hide();
          $('#mylikeListResult').show();
        } else {
          if ($('#mylikeListResult').css("display") !== "none") {
            $('#mylikeListResult').hide();
          } else {
            $('#mylikeListResult').show();
          }
        }
      });
    </script>
  {% endblock script %}
  {% block footer %}{% endblock footer %}
</div>