{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1>유저 아이디:{{ user.username }}</h1>
  <p>유저 소개:{{ user.last_name }}</p>
  <!-- 본인 프로필일때만 '프로필수정' 버튼 보이게 -->
  {% if request.user == user %}
    <div>
      <a href="{% url 'accounts:update' %}" class="btn btn-primary">수정하기</a>
    </div>
  {% endif %}
  <!-- 팔로우 기능 -->
  <div class="mb-5">
    <!-- 팔로워/팔로잉 숫자 -->
    <div>
      followers
      <span id="followers-count">{{ user.followers.count }}</span>
      &nbsp;|&nbsp; followings
      <span id="followings-count">{{ user.followings.count }}</span>
    </div>
    <!-- 팔로우/팔로우취소 버튼 -->
    {% if request.user != user %}
      <form id="follow-form" data-user-id="{{ user.pk }}">
        {% csrf_token %}
        {% if request.user in user.followers.all %}
          <input type="submit" class="btn btn-outline-danger" value="팔로우 취소">
        {% else %}
          <input type="submit" class="btn btn-outline-primary" value="팔로우">
        {% endif %}
      </form>
    {% endif %}
  </div>
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#follow-form')
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value

      form
      .addEventListener('submit', function (event) {
        event.preventDefault()
        const userId = event
          .target
          .dataset
          .userId

          axios({
            method: 'post',
            url: `/accounts/${userId}/follow/`,
            headers: {
              'X-CSRFToken': csrftoken
            }
          })
          .then((response) => {
            const isFollowed = response.data.is_followed
            const followBtn = document.querySelector('#follow-form > input[type=submit]')
            if (isFollowed === true) {
              followBtn.value = '팔로우 취소'
            } else {
              followBtn.value = '팔로우'
            }
            const followersCountTag = document.querySelector('#followers-count')
            const followingsCountTag = document.querySelector('#followings-count')
            const followersCount = response.data.followers_count
            const followingsCount = response.data.followings_count
            followersCountTag.innerText = followersCount
            followingsCountTag.innerText = followingsCount
          })
          .catch((error) => {
            console.log(error.response)
          })
        })
  </script>
{% endblock script %}