{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
</div>
{% regroup reviews by user.username as dates_items %}
{% for date in dates_items %}
  <div class="changelog-day">
    <h3 class="changelog-heading">
      <b>{{ date.grouper }}</b>
    </h3>
    {% for changelog in date.list %}
      <img src="{{ changelog.image.url }}" alt="{{ changelog.image }}" style="border: 4px solid rgba(221, 177, 177, 0.396); border-radius: 1rem;">
    </p>
  {% endfor %}
</div>
{% endfor %}
</ul>
{% block footer %}{% endblock footer %}
{% endblock content %}