{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}

{% block nav %}{% endblock nav %}

{% block content %}
  <!-- 로그인 div -->
  <div class="wrap">
    <ul class="img-box">
      <li class="item" style="background-image: url({% static 'images/LE-SSERAFIM.jpeg' %});"></li>
      <li class="item" style="background-image: url({% static 'images/idle.jpeg' %});"></li>
      <li class="item" style="background-image: url({% static 'images/newjeans24.jpg' %}"></li>
    </ul>
  </div>

  <div class="background-size position-absolute d-flex align-items-center top-0">
    <!-- 로그인한 사용자에게 보이는 div -->
    {% if user.is_authenticated %}
      <div class="container d-flex flex-column align-items-center">
        <h1 class="text-white mb-3">{{ request.user.username }}님 안녕하세요</h1>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <a href="{% url 'accounts:logout' %}" class="mb-2 btn btn-primary rounded-5 py-2 px-3 text-white">
            <div class="d-flex justify-content-center align-items-center">
              <i class="bi bi-house-door-fill"></i>
              <h5 class="fw-bold ms-2 mb-0">h o m e</h5>
            </div>
          </a>
          <h5 class="text-black">OR</h5>
          <a href="{% url 'accounts:logout' %}" class="btn btn-danger rounded-5 py-2 px-3">
            <h5 class="fw-bold mb-0 text-white">l o g o u t ?</h5>
          </a>
        </div>
      </div>
      <!-- 로그아웃된 사용자에게 보이는 div -->
    {% else %}
      <div class="container-md">
        <form action="{% url 'accounts:login' %}" method="POST" class="text-black bg-white p-3 rounded-3 opacity-75">
          {% csrf_token %}
          {% bootstrap_form forms %}
          <a href="{% url 'accounts:signup' %}" class="btn btn-success">회원가입</a>
          <input type="submit" class="btn btn-primary" value="로그인">
        </form>
      </div>
    {% endif %}
  </div>
  {% block footer %}{% endblock footer %}
{% endblock content %}
