{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}

{% block nav %}{% endblock nav %}

{% block content %}
  <!-- 로그인 div -->
  <div class="wrap">
    <ul class="img-box">
      <li class="item" style="background-image: url({% static 'images/5보쌈.jpg' %});"></li>
      <li class="item" style="background-image: url({% static 'images/과일.jpg' %});"></li>
      <li class="item" style="background-image: url({% static 'images/꼬치사진.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/떡볶이.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/생선스테이크.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/음식들.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/음식들2.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/음식들3.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/피자사진.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/한식음식들.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/과일2.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/햄버거.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/과일3.jpg' %}"></li>
      <li class="item" style="background-image: url({% static 'images/음식들4.jpg' %}"></li>
    </ul>
  </div>

  <div class="background-size position-absolute d-flex flex-column justify-content-center align-items-center top-0">
    <h1 class="text-center bg-white rounded-pill p-2 mb-3 opacity-75"><img src="{% static 'images/semi.png' %}" alt="" style="width: 200px; height: 45px;"></h1>
    {% if not user.is_authenticated %}
      <a class="text-center" href="{% url 'restaurants:index' %}">
        <i class="bi bi-house-fill fs-2 text-white"></i>
      </a>
    

    {% endif %}
    <!-- 로그인한 사용자에게 보이는 div -->
    {% if user.is_authenticated %}
      <div class="container d-flex flex-column align-items-center">
        <h1 class="text-white mb-3">{{ request.user.username }}님 안녕하세요</h1>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <form action="{% url 'restaurants:index' %}" class="mb-1 rounded-5 px-3 text-white">
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-outline-primary border border-0 rounded-1 fw-bolder text-white rounded-5 px-3 py-2">
                h o m e
              </button>
            </div>
          </form>
          <form action="{% url 'accounts:logout' %}" class="rounded-5 px-3">
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-outline-light border border-0 rounded-1 fw-bolder text-danger rounded-5 px-3 py-2">
                l o g o u t
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- 로그아웃된 사용자에게 보이는 div -->
    {% else %}
      <div class="container-md">
        <form action="{% url 'accounts:login' %}" method="POST" class="text-black bg-white p-3 rounded-3 opacity-75">
          {% csrf_token %}
          {% bootstrap_form forms %}
          <a href="{% url 'accounts:signup' %}" class="btn btn-success">회원가입</a>
          {% bootstrap_button button_class="btn btn-primary" button_type="submit" content="로그인" %}
        </form>

      </div>
    {% endif %}
  </div>
  {% block footer %}{% endblock footer %}
{% endblock content %}
