{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="text-center">
    <div class="box-with-text">
      <p class="fs-1 mt-5 fw-semibold">오늘 뭐 먹지?</p>
    </div>
  </div>
  <div>
    <div id="rul-div" class="text-center mb-4">
      <canvas id="rul-canvas" width="380" height='380'></canvas>
      <button id="rul-button" onclick="rotate()" class="btn btn-outline-danger rounded-pill">🐷클릭</button>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script>
    const $c = document.querySelector("canvas");
    const ctx = $c.getContext(`2d`);

    const product = [
      "한식",
      '중식',
      "일식",
      "이탈리안",
      "스페니쉬",
      "아메리칸",
      '튀르키예',
      "디저트",
      "멕시칸"
    ];

    const colors = [
      "#dc0936",
      "#e6471d",
      "#f7a416",
      "#efe61f ",
      "#60b236",
      "#209b6c",
      "#169ed8",
      "#3f297e",
      "#87207b",
      "#be107f",
      "#e7167b"
    ];

    const newMake = () => {
      const [cw, ch] = [
        $c.width / 2,
        $c.height / 2
      ];
      const arc = Math.PI / (product.length / 2);

      for (let i = 0; i < product.length; i++) {
        ctx.beginPath();
        ctx.fillStyle = colors[i % (colors.length - 1)];
        ctx.moveTo(cw, ch);
        ctx.arc(cw, ch, cw, arc * (i - 1), arc * i);
        ctx.fill();
        ctx.closePath();
      }

      ctx.fillStyle = "#fff";
      ctx.font = "18px Pretendard";
      ctx.textAlign = "center";

      for (let i = 0; i < product.length; i++) {
        const angle = (arc * i) + (arc / 2);

        ctx.save();

        ctx.translate(cw + Math.cos(angle) * (cw - 50), ch + Math.sin(angle) * (ch - 50),);

        ctx.rotate(angle + Math.PI / 2);

        product[i]
          .split(" ")
          .forEach((text, j) => {
            ctx.fillText(text, 0, 30 * j);
          });

        ctx.restore();
      }
    }

    const rotate = () => {
      $c.style.transform = `initial`;
      $c.style.transition = `initial`;

      setTimeout(() => {

        const ran = Math.floor(Math.random() * product.length);

        const arc = 360 / product.length;
        const rotate = (ran * arc) + 3600 + (arc * 3) - (arc / 4);

        $c.style.transform = `rotate(-${rotate}deg)`;
        $c.style.transition = `2s`;

        setTimeout(() => alert(`오늘의 메뉴 ${product[ran]} 어떠신가요?`), 2000);
      }, 1);
    };

    newMake();
  </script>
{% endblock script %}