{% extends 'base.html' %}

{% block content %}
 
    {% for restaurant in restaurants %}
      <a href="{% url 'restaurants:detail' restaurant.pk %}">
        {% if not restaurant.thumbnail %}
        <img src="" class="img-fluid rounded-top" alt="">
        {% else %}
        <img src="{{ restaurant.thumbnail.url }}" class="img-fluid rounded-top" alt="">
        {% endif %}
      </a>
      <p>{{ restaurant.name }}</p>
      <br>
    {% endfor %}
    <h3 class="mt-5 text-center">{{ text }}</h3>
{% endblock %}